BOT_TOKEN=
OWNER_ID=
DATABASE_URL=
REDIS_URL=

STORE_NAME=LXZ STORE BEST
CURRENCY=USD
TIMEZONE=America/Lima

OFFICIAL_CHANNEL_URL=
SUPPORT_USERNAME=

YAPE_NUMBER=
PLIN_NUMBER=

BINANCE_USDT_ENABLED=false
BINANCE_USDT_ADDRESS=
BINANCE_USDT_NETWORK=

